<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSession</servlet-name>
        <servlet-class>za.ac.tut.web.admin.StartSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.GroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModulesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.ModulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.EndSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllGroupsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.AllGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.lecturer.LecturerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerSignUpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.lecturer.LecturerSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.lecturer.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassListServlet</servlet-name>
        <servlet-class>za.ac.tut.web.lecturer.ClassListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableGgroupsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.GetAvailableGgroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotificationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.GetNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTimetableServlet</servlet-name>
        <servlet-class>za.ac.tut.web.student.GetTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSession</servlet-name>
        <url-pattern>/StartSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/GroupServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModulesServlet</servlet-name>
        <url-pattern>/ModulesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllGroupsServlet</servlet-name>
        <url-pattern>/AllGroupsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerLoginServlet</servlet-name>
        <url-pattern>/LecturerLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerSignUpServlet</servlet-name>
        <url-pattern>/LecturerSignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassListServlet</servlet-name>
        <url-pattern>/ClassListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableGgroupsServlet</servlet-name>
        <url-pattern>/GetAvailableGgroupsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotificationServlet</servlet-name>
        <url-pattern>/GetNotificationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimetableServlet</servlet-name>
        <url-pattern>/GetTimetableServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
